* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #fcfcfc;
}

body {
  min-height: 100vh;
}

.mega-box {
  margin: 0 auto;
  max-width: 110rem;
  min-height: 100vh;
  border-radius: 0.5rem;
}
