.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.heading img {
    width: 8rem;
    border-radius: 0.3rem;
}

.buttons {
    margin-left: auto;
}

.buttons a {
    padding: 0.9rem 1.8rem;
    border-radius: 0.4rem;
    background-color: #fe7200;
    color: white;
    font-size: 1.1rem;
}

.info {
    display: flex;
    justify-content: space-between;
}

.description {
    text-align: justify;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 68%;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0 #e6e6e6;
    padding: 1.5rem;
}

.description h3 {
    font-size: 1.6rem;
}

.about {
    width: 30%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0 #e6e6e6;
    align-self: flex-start;
}

.about h4 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

.about ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.3rem;
}

.about li {
    display: flex;
    justify-content: space-between;
}
